<!DOCTYPE html>
<html>
  <head>
    <title>scoop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key="%> 
    <%= stylesheet_link_tag 'application', media: 'all' %> 
    <%= csrf_meta_tags%> 
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>";
      window.zeroStar = "<%= image_url('large_0.png') %>";
      window.oneStar = "<%= image_url('1_star.png') %>";
      window.oneHalfStar = "<%= image_url('1_half_star.png') %>";
      window.twoStar = "<%= image_url('2_star.png') %>";
      window.twoHalfStar = "<%= image_url('2_half_star.png') %>";
      window.threeStar = "<%= image_url('3_star.png') %>";
      window.threeHalfStar = "<%= image_url('3_half_star.png') %>";
      window.fourStar = "<%= image_url('4_star.png') %>";
      // window.fourStar = "<%= image_url('large_4.png') %>";
      window.fourHalfStar = "<%= image_url('4_half_star.png') %>";
      window.fiveStar = "<%= image_url('5_star.png') %>";
      window.oneFav = "<%= image_url('fav_1.png') %>";
      window.twoFav = "<%= image_url('fav_2.png') %>";
      window.threeFav = "<%= image_url('fav_3.jpg') %>";
      window.splashBackground = "<%= image_url('splash_fit.png') %>";
      window.splashBackground_2 = "<%= image_url('background_2.jpg') %>";
      window.splash3 = "<%= image_url('splash_3.jpg') %>";
      window.splash4 = "<%= image_url('splash_4.jpg') %>";
      window.splash5 = "<%= image_url('splash_5.jpg') %>";
      window.splash6 = "<%= image_url('splash_6.jpg') %>";
      window.signup = "<%= image_url('signup.png') %>";
      window.review = "<%= image_url('review_form.png') %>";
      // window.footer = "<%= image_url('footer_image.png') %>";
      window.footer = "<%= image_url('footer_img_2.jpg') %>";
      window.github = "<%= image_url('GitHub-Mark-Light-120px-plus.png') %>";
      window.linkedin = "<%= image_url('LI-In-Bug.png') %>"
      window.address = "<%= image_url('location_img.png') %>"
      window.contact = "<%= image_url('contact_img.png') %>"
      window.website = "<%= image_url('website_img.png') %>"
      window.edit = "<%= image_url('edit_review_img.jpg') %>"
      window.delete = "<%= image_url('delete_review_img.png') %>"
    </script>

    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = {
          "id": "<%=current_user.id%>",
          "firstName": "<%=current_user.first_name%>",
          "lastName": "<%=current_user.last_name%>",
          "email": "<%=current_user.email%>"
        };
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>

